<h2 mat-dialog-title>{{tituloAccion}} Cliente</h2>

<mat-dialog-content>
  <form [formGroup]="formularioCliente">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearence="outline">
          <mat-label>Id</mat-label>
          <input matInput autocomplete="off" formControlName="id">
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearence="outline">
          <mat-label>Nombre Cliente</mat-label>
          <input matInput autocomplete="off" formControlName="nombreCompleto">
          <mat-icon matSuffix>account-box</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearence="outline">
          <mat-label>Email</mat-label>
          <input matInput autocomplete="off" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" [disabled]="formularioCliente.invalid" (click)="guardarEditar_Cliente()">{{botonAccion}}</button>
</mat-dialog-actions>